.article-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 40px 20px;
  background-color: var(--c2);
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 40px auto;
}

.article-box h1 {
  font-size: 2rem;
  color: var(--c5);
  margin: 0;
}

.article-box h2 {
  margin: 4px 0;
  font-weight: normal;
}

.article-box p {
  font-weight: bold;
  margin-top: 50px;
}

.imagen-a {
  background-color: var(--c1);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.imagen-a img {
 max-width: 100%;
 height: auto;
 border-radius: 10px;
}